@import url(https://fonts.googleapis.com/css?family=Poiret+One);
@import url(https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.min.css);
/* $border-radius: 20px; */
body {
  color: #333333;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 650px;
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex-grow: 1;
}

header {
  margin-top: 16px;
  margin-bottom: 48px;
}

h2 {
  font-size: 64px;
  margin-bottom: 16px;
  text-align: center;
}


.widget {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  height: 300px;
  width: 600px;
  transform: translate(-50%, -50%);
  flex-wrap: wrap;
  cursor: pointer;
  border-radius: 20px;
  box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3), 0 17px 17px 0 rgba(0, 0, 0, 0.15);
}

.weatherLocation{
  /* height: 132px; */
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  padding: 2rem;
  background-color: #fafafa;
  border-radius: 20px;
  
}

/* height: 53px;
width: 445px; */


.weatherLocation button{
  background: #080705;
  color:#fff;
  /* font-size: large; */
  border: 1px solid transparent;
  /* height: 32px;
  width: 64px; */
  border-radius: 5px;
}
.weatherLocation input:focus{
  outline: 0 none;
  
}

input[type=text] {
  /* width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  height: 70px; */
  border-radius: 5px;
  /* font-size: 30px; */
}
.widget .weatherIcon {
  flex: 1 100%;
  height: 60%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background: #FAFAFA;
  font-family: weathericons;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 100px;
}
.widget .weatherIcon i {
  padding-top: 30px;
}
.widget .weatherInfo {
  flex: 0 0 70%;
  height: 40%;
  background: #080705;
  border-bottom-left-radius: 20px;
  display: flex;
  align-items: center;
  color: white;
}
.widget .weatherInfo .temperature {
  flex: 0 0 40%;
  width: 100%;
  font-size: 35px;
  display: flex;
  justify-content: space-around;
}
.widget .weatherInfo .description {
  flex: 0 60%;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
}
.widget .weatherInfo .description .weatherCondition {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 100;
}
.widget .weatherInfo .description .place {
  font-size: 15px;
}
.widget .date {
  flex: 0 0 30%;
  height: 40%;
  background: rgb(68, 112, 207);
  border-bottom-right-radius: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  font-size: 30px;
  font-weight: 800;
}

p {
  position: fixed;
  bottom: 0%;
  right: 2%;
}
p a {
  text-decoration: none;
  color: #E4D6A7;
  font-size: 10px;
}
/* ---------------------------------------------------------------------------------------------------------- */


@media screen and (max-width:600px){
  body{
    width: 12rem;
    /* position: fixed; */
  }
  h2 {
    font-size:2.4rem;
    margin-bottom: 16rem;
    text-align: center;
  }
  .widget {
    position: fixed;
    align-items: center;
    top: 50%;
    left: 50%;
    display: flex;
    height: 24rem;
    width: 22rem;
    transform: translate(-50%, -50%);
    flex-wrap: wrap;
    cursor: pointer;
    border-radius: .1rem;
    /* box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3), 0 17px 17px 0 rgba(0, 0, 0, 0.15); */
  }
  .widget .weatherInfo {
    /* height: 70%; */
    border-bottom-left-radius: .50rem;
     }

     .widget .date {
      /* height: 70%; */
      border-bottom-right-radius: .50rem;
      font-size: 2rem;
      font-weight: 600;
    }
    input[type=text] {
      width: 20rem;
      padding: 1.2rem 2.0rem;
      margin: 8px 0;
      box-sizing: border-box;
      height: .70rem;
      border-radius: 20px;
      font-size: 1rem;
    }
    .weatherLocation {
      display: flex;
      align-items: center;
      
      width: -auto;
      justify-content: center;
      padding: .2rem;
      background-color: #fafafa;
      flex-direction: column;
      font-size: 1rem;

  }
  .weatherLocation button {
    background: #080705;
    color: #fff;
    border: 1px solid transparent;
    height: 2rem;
    width: 19rem;
    border-radius: 20rem;
    font-size: 1rem;
}
.widget .weatherInfo .temperature {
  flex: 0 0 40%;
  width: 100%;
  font-size: 2rem;
  display: flex;
  justify-content: space-around;
}
.widget .weatherInfo .description .place {
  font-size: .9rem;
}
.widget .weatherInfo .description .weatherCondition {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 100;
}
}